@keyframes float {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(0.5rem); 
    }
    100% {
        transform: translateY(0); 
    }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}