.header {
    display: grid;
    font-size: var(--scale-body);
    gap: 1rem;
    left: 2rem;
    right: 2rem;
    top: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    position: fixed;
    z-index: 100;
    overflow: hidden;
}

.info-block {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.info-block-value {
    color: var(--color-gray);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: GeneralSans-Semibold;
    color: white;
    background-color: var(--color-black);
    height: 2.75em;
    padding: 0 1.25em;
    border-radius: 4em;
    white-space: nowrap;
    grid-column: 12;
    overflow: hidden;
    justify-self: end;
}

.button span {
    display: block;
    transition: transform 0.3s ease;
}

.button span:first-child {
    position: absolute;
}

.button span:last-child {
    transform: translateY(200%);
}

.button:hover span:first-child {
    transform: translateY(-200%);
}

.button:hover span:last-child {
    transform: translateY(0);
}
