.hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -3rem;  
}

.hero-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting {
    font-size: calc(var(--scale) * 4);
    letter-spacing: calc(var(--scale) * 0.05);
    font-family: 'Imperial Script';
}

.logo {
    width: 32rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    animation: float 3s ease-in-out infinite; 
}

.logo img {
    transform: scale(1.1);
}

.hero-subheading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: GeneralSans-Semibold;
    font-size: calc(var(--scale) * 4);
}