.hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -3rem;  
}

.hero-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting {
    font-size: calc(var(--scale) * 4);
    letter-spacing: calc(var(--scale) * 0.05);
    font-family: 'Imperial Script';
}

.logo {
    width: 32rem;
    height: 12rem;
    background-color: #D9D9D9;
}

.hero-subheading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: GeneralSans-Semibold;
    font-size: calc(var(--scale) * 4);
    animation: float 3s ease-in-out infinite; 
}

@keyframes float {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(0.5rem); 
    }
    100% {
        transform: translateY(0); 
    }
    
}