.projects {
    height: 100vh;
    display: flex;
    flex-direction:column;
    padding-top: 5rem;
    gap: 4rem;
}

.project-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    animation: float 6s ease-in-out infinite;
}

.project-title-main {
    font-family: GeneralSans-Semibold;
    font-size: calc(var(--scale) * 3);
}

.project-title-sub {
    font-family: Imperial Script;
    font-size: calc(var(--scale) * 2.5);
    margin-top: -1.5rem;
}

.projects-grid {
    display: grid;
    padding: 0 2rem;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.project-card {
    border-radius: 1.25rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 0.75rem;
}

.project-card:hover {
    transform: translateY(-0.5rem);
    z-index: 3;
}

.project-1, .project-3 {
    background: #212121;
    z-index: 1;
}

.project-1:hover {
    transform: scale(1.15) translateX(2rem);
}

.project-3:hover {
    transform: scale(1.15) translateX(-2rem);
}

.project-2 {
    background: var(--color-black);
    transform: scale(1.15);
    z-index: 2;
}

.projects-grid:has(.project-1:hover) .project-2,
.projects-grid:has(.project-3:hover) .project-2 {
    transform: scale(1);
}

.project-2:hover {
    transform: translateY(-0.5rem) scale(1.15);
}

.project-card-image {
    width: 100%;
    aspect-ratio: 16 / 10;
    overflow: hidden;
}

.project-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
}

.project-card-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 1.5rem;
}

.project-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-card-title-group {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.project-card-logo {
    width: 2rem;
    height: 2rem;
    background: var(--color-primary-blue);
    border-radius: 1rem;
    flex-shrink: 0; 
}

.project-card-title {
    font-family: GeneralSans-Semibold;  
    color: white;
    text-transform: uppercase;
    font-size: calc(var(--scale)*0.75);
    letter-spacing: 0.5px;
    line-height: 1.2;
    white-space: nowrap;
}

.project-card-description {
    padding: 0 calc(var(--scale)*1);
    color: #b0b0b0;
    font-family: GeneralSans-Medium;
    font-size: calc(var(--scale)*0.6);
    line-height: 1.6;
}

.project-card-tags {
    overflow: hidden;
    position: relative;
}

.tags-marquee {
    display: inline-block;
    white-space: nowrap;
    color: #606060;
    font-family: GeneralSans-Medium;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    animation: scroll 20s linear infinite;
}

.project-card:hover .tags-marquee {
    color: var(--color-primary-blue);
}
